.profile-div{
    background-image: url('/business-concept-with-team-close-up.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
  
  .details-content {
    position: absolute;
    top: 25%;
    left: 28%;
    background-color: rgba(255, 255, 255, 0.815);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    height: 60%;
  }
  
  .profile-image-div {
    margin-top: 20px;
    margin-bottom: 20px;
    
  }

 

  .profile-default{
    font-size: 100px;
  }
  


  .profile-image-only img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    display: block;
  }

  .profile-image-div label{
    padding-left: 15px;
  }

  .profile-details-div input{
    margin-bottom: 20px;
  }
 
  .profile-details-div button{
    margin-left: 180px;
    
  }
  